@media screen and (min-width: 320px) {
    body{
        padding: 0px;
        margin: 0px;
        background-color: red;
       }
      
       .header-sec {
           display: flex;
       }
       .imges {
        padding: 15px 0px;
        
        
     }
     .list-sec {
      
        margin: 20px 0px 0px 32px;
        
     }
     img.viedo {
        height: 599px;
        width: 100%;
    }
    img.oneimg-sec {
        height: 500px;
        width: 100%;
    }
    .list-sec ul {
        list-style: none;
        display: flex;
        color: white;
        padding: 0px;
    }
    .list-sec li{
        margin: 0px 17px 0px 3px;
    }
    a.button1 {
    
        color: #eceded;
        background-color: #6163ff;
        border-radius: 5px;
        font-size: 18px;
        font-weight: 700;
    }
  };